

/* --------------------------POOOOOOSSS MODIFICAÇÃO-------------------------- */
/* --------------------------POOOOOOSSS MODIFICAÇÃO-------------------------- */
/* --------------------------POOOOOOSSS MODIFICAÇÃO-------------------------- */
/* --------------------------POOOOOOSSS MODIFICAÇÃO-------------------------- */
/* --------------------------POOOOOOSSS MODIFICAÇÃO-------------------------- */

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

header {
  margin: 0;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

header .cabecalho {
  height: 15vh;
  background-color: black;
}

header .menu {
  padding: 0;
  height: 2em;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  list-style: none;
}

header .menu .menu-item {
  background-color: #111111;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .menu .menu-item a {
  text-decoration: none;
  color: green;
}

header .menu .menu-item:hover {
  background-color: white;
  border: 5px solid black;
  border-radius: 5%;
}

header .menu .menu-item:hover a {
  color: green;
}

header .slide-show {
  height: 84.6vh;
}

header .slide-show img{
  max-width:100%;
  max-height:100%;
  width: 100%;
  height: 100%;
}
