body {
  font-family: 'Ubuntu Mono', monospace;
  margin: 0;
}

header {
  background-attachment: fixed;
  margin: 0;
  background-position: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

main {
  background-image: url("../img/gradient1.svg");
  padding-bottom: 5%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.cabecalho {
  height: 25vh;
  background-image: url('../img/terminal.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

@media all and (max-width: 1000px) {
  .cabecalho {
    background-attachment: scroll;
  }
}

main h1 {
  text-align: center;
  display: flex;
  justify-content: center;
  color: black;
  margin: 0;
  align-items: center;
  padding: 20px;
}

.headline {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  font-size: 60px;
  background-color: #99CC00;
  transition: .6s all ease-in-out;
}

@media all and (max-width: 450px) {
  .headline {
    font-size: 35px;
    height: 15vh;
  }
}

.headline:hover {
  font-size: 70px;
}

@media all and (max-width: 450px) {
  .headline:hover {
    font-size: 40px;
  }
}

.noticias {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-between;
  align-items: center;
}

@media all and (max-width: 850px) {
  .noticias {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.noticia {
  position: relative;
  display: grid;
  margin: 3% 5%;
  grid-template-columns: 1fr 2fr;
  padding: 2%;
  background-color: rgba(255,255,255,0.8);
  box-sizing: border-box;
  transition: all .7s cubic-bezier(0.6, -0.28, 0.74, 0.05);
  border-radius: 3%;
}

@media all and (max-width: 450px) {
  .noticia {
    display: block;
  }
}

@media all and (max-width: 450px) {
  .conteudo {
    font-size: .8em;
  }
}
main .noticia .data {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #99CC00;
  font-size: 2em;
  font-weight: bold;
}

@media all and (max-width: 450px) {
  main .noticia .data {
    font-size: 1.3em;
  }
}

.noticia:hover {
  font-size: 1.3em;
}

.ruby {
  box-shadow: -10px 0px 0px #FF0000;
}

.horaextra {
  box-shadow: -10px 0px 0px #FFEE00;
}

.grudepb {
  box-shadow: -10px 0px 0px #00FF00;
}

.phppb {
  box-shadow: -10px 0px 0px #0000FF;
}


.noticia img {
  grid-column: 1;
  box-shadow: 10px 10px 50px 20px black inset;
  transition: all .5s inset;
  width: 100%;
  height: 100%;
}

.noticia:hover img {
  box-shadow: 10px 10px 50px 20px pink inset;
  height: 50%;
}

@media all and (max-width: 450px) {
  .noticia img {
    display: none;
  }
}

.grid-noticias div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.grid-noticias h2 , .grid-noticias p {
  grid-column: 2;
  display: flex;
}

.barra-de-estilo {
  background-color: #99CC00;
  margin: 0;
  color: #99CC00;
  display: flex;
  height: 20px;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  background-image: url("../img/developer.jpg");
  background-attachment: fixed;
  background-color: #333333;
  background-blend-mode:soft-light;
}


@media all and (max-width: 700px) {
  .footer-content {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
  }

  .footer-content .about {
    order: 1;
  }

  .footer-content .social {
    order: 3;
  }

  .footer-content .contact {
    order: 2;
  }

}

.footer-content .subtitle {
  margin: 10% 10%;
  color: white;
  font-size: 20px;
}

.footer-content .icone-social {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  padding: 0;
}

.footer-content .icone-social a {
  margin: 15px;
  color: white;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all .7s;
}

.footer-content .icone-social a:hover {
  color: #99FF00;
}
